header{
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black{
    background: #141414;
}

.header--logo{
    height: 40px;
    
}

.header--logo img{
    height: 100%;
}

.header--user{
    height: 40px;
    margin-right: 10px;
}

.header--user img{
    height: 100%;
    border-radius: 5px;
}